.wrapper {
    --search-border-radius: 92px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.header-content {
    height: 100%;
    width: var(--default-layout-width);
    margin: 0 auto;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    height: 46px;
    background-color: #f1f1f2;
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    border: 1px solid transparent;

    input {
        height: 100%;
        color: var(--black);
        caret-color: var(--primary);
        font-size: 1.6rem;
        background-color: transparent;
        flex: 1;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, .2);
    }
}

.search-title {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(22, 24, 35, .5);
    padding: 5px 12px;
}

.clear,
.loading {
    font-size: 1.6rem;
    position: absolute;
    right: 68px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    position: relative;
    font-size: 2rem;
    color: #16182357;
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, .03);
    }

    &::after {
        content: "";
        position: absolute;
        width: 1.5px;
        height: 28px;
        background-color: #1618231f;
        left: 0;
        transform: translateX(-2px);
        top: 50%;
        transform: translate(0, -50%)
    }


}