.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.header-content {
    height: 100%;
    width: var(--default-layout-width);
    // background-color: #ccc;
    margin: 0 auto;
    padding: 0 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {}

.search {
    width: 361px;
    height: 46px;
    background-color: #f1f1f2;
    border-radius: 92px;
    padding: 0px 16px;

    input {
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        flex: 1;
    }
}

.clear {}

.loading {}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
}